.title { 
  font-size: 100px;
  background-color: green;
}

ul {
  display: flex;
  border-width: 5px;
  border-style: solid;
  border-color: red;
  border-radius: 50px;
  /* margin: 10px; */
  height: 10px;
  width: 97%;
  background-color: rebeccapurple;
  align-items: center;
  justify-content: space-between;
  padding: 20px;

}


div.absolute {
  position: absolute;
  top: 80px;
  right: 0;
  width: 200px;
  height: 20px;
  border: 3px solid;

}

.body {
  font-family: 'Times New Roman';
  background-color: red;
  margin: 10px;
  text-align: center;
}

.alt {
  color: rgb(1, 1, 10);
  background-color: red;
}

h1 {
font-size: 65px;
color: black;
text-align: center;
}


h2 {
 font-size: 60px;
 color: black;
 text-align: center;
}

h3 {
  font-size: 55px;
  color: black;
  text-align: center;
 }

a {
  font-size: 40px;
  background-color: gold;
}

p {
  font-size: 20px;
  color: black;
  text-align: left;
}